.to-margin{
  margin-top: 150px;
}
.bottom-margin{
  margin-bottom: 150px;
}
.footer{
  height: 70vh;
  background-color: black;
  margin-top: 15%;
}
.text-shadow{
  text-shadow: 4px 2px 10px white;
}